/*white smoke #f4f4f9*/

body {
  font-family: 'Kalam', cursive;
  position: relative;
  background: #fff;
}
/*#########navbar##############*/

.navbar {
  background: #fff!important;
  padding: 10px 20px!important;
  border-bottom: 2px solid #eee;
}

/* .navbar-background {
  padding: 2px 20px!important
} */
.navbar-brand img{
  width: 80px;
  transition: 0.35s ease;
}

.navbar-brand img:hover {
  transform: scale(1.1);
}

.navbar-toggler {
  border: 3px solid #1abc9c;
  padding: 3px;
}
.navbar-toggler:focus{
  outline: 0;
}
.bar1,
.bar2,
.bar3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  background: #1abc9c;
  transition: all 0.35s ease;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}




.nav-link {
  color: #1abc9c;
  font-size: 25px;
  padding: 10px 20px!important;
  border-radius: 10px;
}

.nav-link:hover {
  background: #1abc9c;
  color: #f1fffa;

}
/*#################banner##############*/

.item-1,
.item-2,
.item-3 {
  min-height: 60vh;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 95%);
}


.item-1 {
  background: linear-gradient(to right, #1abc9c, rgba(42, 145, 52, 0.5)), url(img/couv.png)center/cover fixed no-repeat;
}

.item-2 {
  background: linear-gradient(to right, #1abc9c, rgba(42, 145, 52, 0.5)), url(img/couv22.png) center/cover fixed no-repeat;
}

.item-3 {
  background: linear-gradient(to right, #1abc9c, rgba(42, 145, 52, 0.5)), url(img/couv3.png) center/cover fixed no-repeat;
}

.no-padding {
  padding: 0;
}

.banner-btn {
  color: #f1fffa;
  border: 2px solid #f1fffa;
  transition: all 0.35s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.banner-btn:hover {
  color: #1abc9c;
  background: #f1fffa;
  border-color: #f1fffa;
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);

}

/*###################title#########*/

.title h1 {
  color: #1abc9c;
}

.title h3 {
  color: #5a5a5a;
}

.title-underline {
  height: 5px;
  width: 250px;
  background: #1abc9c;
  margin: -28px auto 0 auto;
}

.title a {
  color: #1abc9c;
  font-size: 30px;
  padding: 0px 10px;
  display: inline-block;
  background: #fff;
}

/*###########skills##################*/
.item-row{
  height: 250px;
}
.skills-icon {
  background: #242424;
  clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
  transition: all 0.35s ease;

}

.skills-icon:hover {
  background: #1abc9c;
}


.skills-icon span {
  font-size: 100px;
  color: #909090;
  transition: all 0.35s ease-in-out;
}

.skills-icon:hover span {
  color: #f1fffa;
}

/*###########about############*/

#about .title a {
  background: #909090;
}
#about .dm{
  position: relative;
  margin-top: 60px;
  color: #fff;
}

#about {
  min-height: 40vh;
  background: #909090;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);

}

.about-text a {
  color: #f1fffa;
  background: #1abc9c;
  border: 2px solid #fff;
  transition: all 0.35s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.about-text a:hover {
  color: #1abc9c;
  background: #f1fffa;
  border-color: #f1fffa;
  transform: translateY(-7px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);

}

.about-progress {
  min-height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/video-filler.jpeg)center/cover fixed no-repeat;
  outline: 5px solid #1abc9c;
  outline-offset: 10px;
}




.progress-bar {
  background: #1abc9c;

}

/*#############projects##########*/

#projects button {
  background: #1abc9c;
  color: #f1fffa;
  transition: all 0.35s ease-in-out;
}

#projects button:hover {
  background: #fff;
  color: #1abc9c;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.img-container img {
  transition: all 1s ease-in-out;
  opacity: 1;
}

.img-container:hover .project-image {
  opacity: 0.8;
  transform: scale(1.3);
}
/*current project*/

#current-project {
  background: #909090;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}

.current-project-photo {
  position: relative;
  min-height: 50vh;
}

.current-project {
  width: 50%;
  height: 60%;
  position: absolute;
  transition: all 0.35s ease-in-out;
}

.current-project:hover {
  z-index: 10;
  transform: scale(1.1);
}

.current-project-1 {
  top: 0;
  left: 10%;
  transform: rotate(-15deg);
  z-index: 20;
}



.current-project-2 {
  top: 0;
  left: 46%;
  transform: rotate(8deg);
  z-index: 30;
}

.current-project-3 {
  top: 40%;
  left: 3%;
  transform: rotate(-5deg);
}

.current-project-4 {
  top: 41%;
  left: 40%;
  transform: rotate(38deg);
}

.current-project:hover {
  transform: scale(1.1);
  z-index: 50;
}

/*contact-form*/

#contact-form {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/couv.png)center/cover fixed no-repeat;
  clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0 100%)
}

.height-30 {
  min-height: 30vh;
}

#contact-form h1 {
  color: #1abc9c;
}

#contact-form .form-control {
  background: transparent;
  border: none;
  border-bottom: 2px solid #f1fffa;
  border-radius: 0;
  color: #f1fffa;
}
.form-control::placeholder {
  text-transform: capitalize;
  font-size: 20px;
  color: #f1fffa;
}

#contact-form button {
  background: transparent;
  border: 2px solid #f1fffa;
  color: #f1fffa;
  border-radius: 0;
  transition: all 0.35s ease;
}

#contact-form button:hover {
  background: #f1fffa;
  border-color: #1abc9c;
  color: #1abc9c;
}

/*############values##############*/

.value {
  position: relative
}

.value-icon {
  font-size: 60px;
  color: #f1fffa;
  background: #242424;
  padding: 25px 35px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transition: all 0.35s ease;

}

.value-number {
  padding: 15px;
  background: #1abc9c;
  position: absolute;
  border-radius: 50%;
  display: inline-block;
  font-size: 20px;
  top: -12%;
  left: 57%;
  transition: all 0.35s ease;
  color: #242424;
}

.value:hover .value-icon {
  background: #1abc9c;
  transform: scale(1.2);
}

.value:hover .value-number {
  background: #242424;
  color: #f1fffa;
  transform: scale(0.9);
}
.value h1{
  color: #1abc9c;
}
/*#########team###############*/
/*#######number###################*/

.number {
  background: #1abc9c;
  color: #fff;
  transition: all 0.35s ease;
}

.number:hover {
  background: #fff;
  color: #1abc9c;
}

/*##########contact##########################*/

.height-60 {
  min-height: 80vh;
}

#contact {
  background: linear-gradient(rgba(42, 145, 52, 0.3), rgba(42, 145, 52, 0.3)), url(img/couv.png)center/cover fixed no-repeat;
}


#contact .card {
  background: rgba(0, 0, 0, 0.5);
}
#contact .card-header {
  color: #1abc9c;
}

#contact .input-group-text {
  background: #1abc9c;
  border-color: #1abc9c;
  color: #242424
}

#contact .card input {
  color: #606060;
}
#textarea{
  width: 100%;
}
#textarea:focus{
  outline: 0;
}
#contact .card input::placeholder {
  color: #606060;
}

.contact-btn {
  color: #1abc9c;
  background: transparent;
  border-color: #1abc9c;
  transition: all 0.35s ease-in-out;
}

.contact-btn:hover {
  background: #1abc9c;
  border-color: #1abc9c;
  color: #fff;
}
.panel{
  padding: 30px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  text-align: left;
  color: #fff;
  border-radius: 5px;
}

/*##############footer###################*/

footer {
  background: #fff;
}
footer h5 {
  color: grey;
  text-align: center;
}

/*####### social ########*/
.social-media{
  position: fixed;
  left: 2%;
  top: 32vh;
  background: #eee;
  width: 50px;
  height: 170px;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 grey;
 
}
.sociall-media{
  padding: 10px;
  position: absolute;
  left: 35%;
  top: 25px;
  background: transparent;
  width: 170px;
  height: 50px;
  border-radius: 30px;
}
.fa-linkedin, .fa-instagram, .fa-youtube{
  font-size: 28px;
  color: #1abc9c;
  transition: all 0.35s ease;
}
.fa-linkedin:hover{
  color: #0E76A8;
  transform: scale(1.1);
}
.fa-instagram:hover{
  color: #DD2A7B;
  transform: scale(1.1);
}
.fa-youtube:hover{
  color: #E62117;
  transform: scale(1.1);
}
.sociall-media{
  display: none;
}

/*##### media query ######"*/

@media screen and (max-width: 948px){
  .social-media{
    display: none;
  }
  .sociall-media{
    display: block;
  }
}